<div class="container">
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <div>
                <span class="text-muted">© 2024 Mi Empresa</span>
                <span class="text-muted"> | </span>
                <span class="text-muted">Todos los derechos reservados</span>
                <span class="text-muted"> | </span>
                <span class="text-muted">Política de Privacidad</span>
            </div>
            <div>
                <span class="text">Contacto: 687786507</span>
            </div>
            <div>
                <span class="text">Correo electrónico: jsanchez@miempresa.es</span>
            </div>
        </div>
    </footer>
</div>