<h1 class="text-center">POSITS</h1>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-5 g-2">
        <div class="col mb-4" *ngFor="let posit of posits">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{posit.name}}</h5>
                    <a href="#" class="btn btn-primary btn-sm mb-2" style="margin-right: 10px">Entrar</a>
                    <a href="#" class="btn btn-secondary btn-sm mb-2" style="margin-right: 10px">Modificar</a>
                    <a href="#" class="btn btn-danger btn-sm mb-2">Borrar</a>
                </div>
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-success">Añadir nuevo posit</a>
        </div>
    </div>
</div>