<h1 class="text-center">TAREAS</h1>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-5 g-2">
        <div class="col mb-4" *ngFor="let task of tasks">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{task.name}}</h5>
                    <a class="btn btn-primary btn-sm mb-2" style="margin-right: 10px" (click)="view(task.id)">Entrar</a>
                    <a class="btn btn-secondary btn-sm mb-2" style="margin-right: 10px" (click)="modifyTask(task.id)">Modificar</a>
                    <a class="btn btn-danger btn-sm mb-2" (click)="deleteTask(task.id)">Borrar</a>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-success" (click)="addTask()">Añadir nueva tarea</a>
        </div>
    </div>
    <a class="btn btn-primary" (click)="return()">Volver</a>
</div>